<!DOCTYPE html>
<head>
    <title>Beauty brands</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<div class="footwear-header">
    <h1>Beauty Brands</h1>
</div>

<div class="brands-header"></div>

<button class="gohome-btn"
        onclick="window.location.href='index.html'">
    &#127968; Home
</button>

</div>

<div class="brand-container">

    <!-- Lakme -->
    <div class="brand-box"
         onclick="openBrand('Lakme','images/lakme.png','https://www.lakmeindia.com')">

        <button class="heart-btn"
                onclick="addFavorite(event,'Lakme','images/lakme.png','https://www.lakmeindia.com')">
        </button>

        <img src="../static/images/lakme.png" alt="Lakme">
        <h3>Lakme</h3>

    </div>

    <!-- Maybelline -->
    <div class="brand-box"
         onclick="openBrand('Maybelline','images/maybelline.png','https://www.maybelline.co.in')">

        <button class="heart-btn"
                onclick="addFavorite(event,'Maybelline','images/maybelline.png','https://www.maybelline.co.in')">
        </button>

        <img src="../static/images/maybelline.png" alt="Maybelline">
        <h3>Maybelline</h3>

    </div>

    <!-- MAC -->
    <div class="brand-box"
         onclick="openBrand('MAC','images/mac.png','https://www.maccosmetics.in')">

        <button class="heart-btn"
                onclick="addFavorite(event,'MAC','images/mac.png','https://www.maccosmetics.in')">
        </button>

        <img src="../static/images/mac.png" alt="MAC">
        <h3>MAC</h3>

    </div>

    <!-- Colorbar -->
    <div class="brand-box"
         onclick="openBrand('Colorbar','images/colorbar.png','https://www.colorbarcosmetics.com')">

        <button class="heart-btn"
                onclick="addFavorite(event,'Colorbar','images/colorbar.png','https://www.colorbarcosmetics.com')">
        </button>

        <img src="../static/images/colorbar.png" alt="Colorbar">
        <h3>Colorbar</h3>

    </div>

    <!-- Swiss Beauty -->
    <div class="brand-box"
         onclick="openBrand('Swiss Beauty','images/swissbeauty.png','https://swissbeauty.in')">

        <button class="heart-btn"
                onclick="addFavorite(event,'Swiss Beauty','images/swissbeauty.png','https://swissbeauty.in')">
        </button>

        <img src="../static/images/swissbeauty.png" alt="Swiss Beauty">
        <h3>Swiss Beauty</h3>

    </div>

    <!-- Minimalist -->
    <div class="brand-box"
         onclick="openBrand('Minimalist','images/minimalist.png','https://beminimalist.co')">

        <button class="heart-btn"
                onclick="addFavorite(event,'Minimalist','images/minimalist.png','https://beminimalist.co')">
        </button>

        <img src="../static/images/minimalist.png" alt="Minimalist">
        <h3>Minimalist</h3>

    </div>

    <!-- The Derma Co -->
    <div class="brand-box"
         onclick="openBrand('The Derma Co','images/derma.png','https://thedermaco.com')">

        <button class="heart-btn"
                onclick="addFavorite(event,'The Derma Co','images/derma.png','https://thedermaco.com')">
        </button>

        <img src="../static/images/derma.png" alt="The Derma Co">
        <h3>The Derma Co</h3>

    </div>

    <!-- Cetaphil -->
    <div class="brand-box"
         onclick="openBrand('Cetaphil','images/cetapil.png','https://www.cetaphil.co.in')">

        <button class="heart-btn"
                onclick="addFavorite(event,'Cetaphil','images/cetapil.png','https://www.cetaphil.co.in')">
        </button>

        <img src="../static/images/cetapil.png" alt="Cetaphil">
        <h3>Cetaphil</h3>

    </div>

    <!-- Dot & Key -->
    <div class="brand-box"
         onclick="openBrand('Dot & Key','images/dot&key.png','https://www.dotandkey.com')">

        <button class="heart-btn"
                onclick="addFavorite(event,'Dot & Key','images/dot&key.png','https://www.dotandkey.com')">
        </button>

        <img src="../static/images/dot&key.png" alt="Dot & Key">
        <h3>Dot & Key</h3>

    </div>

    <!-- Beardo -->
    <div class="brand-box"
         onclick="openBrand('Beardo','images/beardo.png','https://beardo.in')">

        <button class="heart-btn"
                onclick="addFavorite(event,'Beardo','images/beardo.png','https://beardo.in')">
        </button>

        <img src="../static/images/beardo.png" alt="Beardo">
        <h3>Beardo</h3>

    </div>

    <!-- The Man Company -->
    <div class="brand-box"
         onclick="openBrand('The Man Company','images/themancompany.png','https://www.themancompany.com')">

        <button class="heart-btn"
                onclick="addFavorite(event,'The Man Company','images/themancompany.png','https://www.themancompany.com')">
        </button>

        <img src="images/themancompany.png" alt="The Man Company">
        <h3>The Man Company</h3>

    </div>

    <!-- Garnier -->
    <div class="brand-box"
         onclick="openBrand('Garnier','images/garnier.png','https://www.garnier.in')">

        <button class="heart-btn"
                onclick="addFavorite(event,'Garnier','images/garnier.png','https://www.garnier.in')">
        </button>

        <img src="../static/images/garnier.png" alt="Garnier">
        <h3>Garnier</h3>

    </div>

    <!-- Ghar Soaps -->
    <div class="brand-box"
         onclick="openBrand('Ghar Soaps','images/gharsoaps.png','https://www.gharsoaps.shop')">

        <button class="heart-btn"
                onclick="addFavorite(event,'Ghar Soaps','images/gharsoaps.png','https://www.gharsoaps.shop')">
        </button>

        <img src="../static/images/gharsoaps.png" alt="Ghar Soaps">
        <h3>Ghar Soaps</h3>

    </div>

    <!-- Bombay Shaving Company -->
    <div class="brand-box"
         onclick="openBrand('Bombay Shaving Company','images/bombayshaving.png','https://bombayshavingcompany.com')">

        <button class="heart-btn"
                onclick="addFavorite(event,'Bombay Shaving Company','images/bombayshaving.png','https://bombayshavingcompany.com')">
        </button>

        <img src="../static/images/bombayshaving.png" alt="Bombay Shaving Company">
        <h3>Bombay Shaving Company</h3>

    </div>

    <!-- Mamaearth -->
    <div class="brand-box"
         onclick="openBrand('Mamaearth','images/mamaearth.png','https://mamaearth.in')">

        <button class="heart-btn"
                onclick="addFavorite(event,'Mamaearth','images/mamaearth.png','https://mamaearth.in')">
        </button>

        <img src="../static/images/mamaearth.png" alt="Mamaearth">
        <h3>Mamaearth</h3>

    </div>

</div>

<!-- web page -->
<!-- Website Viewer -->
<div id="website-container" style="display:none;"></div>

<div class="top-buttons"></div>

<div class="left-buttons"></div>



<div id="toast"></div>

<script>
    // ======================================
    // ❤️ Add / Remove Favorite
    // ======================================

    function addFavorite(event, name, image, link) {

        event.stopPropagation();

        const button = event.target;
        const userId = localStorage.getItem("userId");

        // Check Login
        if (!userId) {
            alert("Please Login First!");
            return;
        }

        // ============================
        // Remove Favorite
        // ============================
// Remove Favourite
        if(button.classList.contains("active")){

            const favoriteId = button.dataset.favoriteId;

            fetch("http://localhost:8080/api/favorites/" + favoriteId,{

                method:"DELETE"

            })

                .then(response=>{

                    if(!response.ok){

                        throw new Error("Delete Failed");

                    }

                    button.classList.remove("active");

                    delete button.dataset.favoriteId;

                    showMessage(name + " removed from Favorites 💔");

                })

                .catch(error=>console.log(error));

            return;
        }


        // ============================
        // Add Favorite
        // ============================
        fetch("http://localhost:8080/api/favorites", {

            method: "POST",

            headers: {
                "Content-Type": "application/json"
            },

            body: JSON.stringify({

                userId: userId,
                brandName: name,
                image: image,
                website: link

            })

        })

            .then(response => {

                if (!response.ok) throw new Error("Add Failed");

                return response.json();

            })

            .then(data => {

                button.classList.add("active");

                button.dataset.favoriteId = data.id;

                showMessage(name + " added to Favorites ❤️");

            })

            .catch(error => console.log(error));

    }
    // ======================================
    // Toast Message
    // ======================================

    function showMessage(message){

        const toast = document.getElementById("toast");

        toast.textContent = message;

        toast.classList.add("show");

        setTimeout(() => {

            toast.classList.remove("show");

        },2000);

    }



</script>



<script>

    // ======================================
    // Load Favorite Hearts
    // ======================================

    window.addEventListener("load", () => {

        const userId = localStorage.getItem("userId");

        if (!userId) return;

        fetch("http://localhost:8080/api/favorites/" + userId)

            .then(response => response.json())

            .then(favorites => {

                document.querySelectorAll(".heart-btn").forEach(btn => {

                    const brandBox = btn.closest(".brand-box");

                    const brandName = brandBox.querySelector("h3").innerText;

                    const fav = favorites.find(f => f.brandName === brandName);

                    if(fav){

                        btn.classList.add("active");

                        // Save database ID on button
                        btn.dataset.favoriteId = fav.id;

                    }

                });

            });

    });
</script>



<script>

    // ======================================
    // Save History to MySQL
    // ======================================

    function saveHistory(name, image, website){

        const userId = localStorage.getItem("userId");

        if(!userId){
            return;
        }

        const now = new Date();

        fetch("http://localhost:8080/api/history",{
            method:"POST",
            headers:{
                "Content-Type":"application/json"
            },
            body:JSON.stringify({
                userId:Number(userId),
                brandName:name,
                image:image,
                website:website,
                visitDate:now.toLocaleDateString(),
                visitTime:now.toLocaleTimeString()
            })
        })
            .then(async response => {

                const text = await response.text();

                console.log("Status:", response.status);
                console.log("Response:", text);

                if(!response.ok){
                    alert("History Save Failed");
                }else{
                    console.log("History Saved Successfully");
                }

            })
            .catch(error => {

                console.error(error);

            });

    }

    // ======================================
    // Open Brand
    // ======================================

    function openBrand(name, image, website){

        console.log("openBrand called");

        saveHistory(name, image, website);

        window.location.href = website;

    }

</script>

<script>

    // Apply Theme on Page Load

    window.onload = function(){

        const theme = localStorage.getItem("theme");

        if(theme === "dark"){

            document.body.classList.add("dark-mode");

        }

    };

</script>

</body>
</html>


