<!DOCTYPE html>
<html>
<head>
    <title>travel brands</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<div class="footwear-header">
    <h1>Travel brands</h1>
</div>

<div class="brands-header"></div>

<button type="button"
        class="gohome-btn"
        onclick="window.location.href='/'">
    &#127968; Home
</button>

</div>

<div class="brand-container">


    <!-- American Tourister -->
    <div class="brand-box"
         onclick="openBrand('American Tourister','/images/american tourister.png','https://www.americantourister.in')">
        <button class="heart-btn"
                onclick="addFavorite(event,'American Tourister','/images/american tourister.png','https://www.americantourister.in')">
        </button>
        <img th:src="@{/images/american tourister.png}" alt="American Tourister">
        <h3>American Tourister</h3>
    </div>

    <!-- Skybags -->
    <div class="brand-box"
         onclick="openBrand('Skybags','/images/skybags.png','https://www.skybags.co.in')">
        <button class="heart-btn"
                onclick="addFavorite(event,'Skybags','/images/skybags.png','https://www.skybags.co.in')">
        </button>
        <img th:src="@{/images/skybags.png}" alt="Skybags">
        <h3>Skybags</h3>
    </div>

    <!-- Safari -->
    <div class="brand-box"
         onclick="openBrand('Safari','/images/safari.png','https://www.safari.in')">
        <button class="heart-btn"
                onclick="addFavorite(event,'Safari','/images/safari.png','https://www.safari.in')">
        </button>
        <img th:src="@{/images/safari.png}" alt="Safari">
        <h3>Safari</h3>
    </div>

    <!-- Wildcraft -->
    <div class="brand-box"
         onclick="openBrand('Wildcraft','/images/wildcraft.png','https://wildcraft.com')">
        <button class="heart-btn"
                onclick="addFavorite(event,'Wildcraft','/images/wildcraft.png','https://wildcraft.com')">
        </button>
        <img th:src="@{/images/wildcraft.png}" alt="Wildcraft">
        <h3>Wildcraft</h3>
    </div>

    <!-- Aristocrat -->
    <div class="brand-box"
         onclick="openBrand('Aristocrat','/images/aristocrat.png','https://www.aristocratbags.com')">
        <button class="heart-btn"
                onclick="addFavorite(event,'Aristocrat','/images/aristocrat.png','https://www.aristocratbags.com')">
        </button>
        <img th:src="@{/images/aristocrat.png}" alt="Aristocrat">
        <h3>Aristocrat</h3>
    </div>

    <!-- TUMI -->
    <div class="brand-box"
         onclick="openBrand('TUMI','/images/tumi.png','https://www.tumi.com')">
        <button class="heart-btn"
                onclick="addFavorite(event,'TUMI','/images/tumi.png','https://www.tumi.com')">
        </button>
        <img th:src="@{/images/tumi.png}" alt="TUMI">
        <h3>TUMI</h3>
    </div>

    <!-- VIP -->
    <div class="brand-box"
         onclick="openBrand('VIP','/images/vip.png','https://www.vipindustries.co.in')">
        <button class="heart-btn"
                onclick="addFavorite(event,'VIP','/images/vip.png','https://www.vipindustries.co.in')">
        </button>
        <img th:src="@{/images/vip.png}" alt="VIP">
        <h3>VIP</h3>
    </div>

    <!-- Eagle Creek -->
    <div class="brand-box"
         onclick="openBrand('Eagle Creek','/images/eaglecreek.png','https://www.eaglecreek.com')">
        <button class="heart-btn"
                onclick="addFavorite(event,'Eagle Creek','/images/eaglecreek.png','https://www.eaglecreek.com')">
        </button>
        <img th:src="@{/images/eaglecreek.png}" alt="Eagle Creek">
        <h3>Eagle Creek</h3>
    </div>

    <!-- Samsonite -->
    <div class="brand-box"
         onclick="openBrand('Samsonite','/images/samsonite.png','https://www.samsonite.in')">
        <button class="heart-btn"
                onclick="addFavorite(event,'Samsonite','/images/samsonite.png','https://www.samsonite.in')">
        </button>
        <img th:src="@{/images/samsonite.png}" alt="Samsonite">
        <h3>Samsonite</h3>
    </div>

    <!-- Osprey -->
    <div class="brand-box"
         onclick="openBrand('Osprey','/images/osprey.png','https://www.osprey.com')">
        <button class="heart-btn"
                onclick="addFavorite(event,'Osprey','/images/osprey.png','https://www.osprey.com')">
        </button>
        <img th:src="@{/images/osprey.png}" alt="Osprey">
        <h3>Osprey</h3>
    </div>

    <!-- Coleman -->
    <div class="brand-box"
         onclick="openBrand('Coleman','/images/coleman.png','https://www.coleman.com')">
        <button class="heart-btn"
                onclick="addFavorite(event,'Coleman','/images/coleman.png','https://www.coleman.com')">
        </button>
        <img th:src="@{/images/coleman.png}" alt="Coleman">
        <h3>Coleman</h3>
    </div>

    <!-- Trawoc -->
    <div class="brand-box"
         onclick="openBrand('Trawoc','/images/trawoc.png','https://trawoc.com')">
        <button class="heart-btn"
                onclick="addFavorite(event,'Trawoc','/images/trawoc.png','https://trawoc.com')">
        </button>
        <img th:src="@{/images/trawoc.png}" alt="Trawoc">
        <h3>Trawoc</h3>
    </div>

    <!-- Decathlon -->
    <div class="brand-box"
         onclick="openBrand('Decathlon','/images/decathlon.png','https://www.decathlon.in')">
        <button class="heart-btn"
                onclick="addFavorite(event,'Decathlon','/images/decathlon.png','https://www.decathlon.in')">
        </button>
        <img th:src="@{/images/decathlon.png}" alt="Decathlon">
        <h3>Decathlon</h3>
    </div>

    <!-- Black Diamond -->
    <div class="brand-box"
         onclick="openBrand('Black Diamond','/images/black diamond.png','https://www.blackdiamondequipment.com')">
        <button class="heart-btn"
                onclick="addFavorite(event,'Black Diamond','/images/black diamond.png','https://www.blackdiamondequipment.com')">
        </button>
        <img th:src="@{/images/black diamond.png}" alt="Black Diamond">
        <h3>Black Diamond</h3>
    </div>

    <!-- Sea to Summit -->
    <div class="brand-box"
         onclick="openBrand('Sea to Summit','/images/sea to summit.png','https://seatosummit.com')">
        <button class="heart-btn"
                onclick="addFavorite(event,'Sea to Summit','/images/sea to summit.png','https://seatosummit.com')">
        </button>
        <img th:src="@{/images/sea to summit.png}" alt="Sea to Summit">
        <h3>Sea to Summit</h3>
    </div>
</div>
<!-- web page -->
<!-- Website Viewer -->
<div id="website-container" style="display:none;"></div>

<div class="top-buttons"></div>

<div class="left-buttons"></div>



<div id="toast"></div>

<script>
    // ======================================
    // ❤️ Add / Remove Favorite
    // ======================================

    function addFavorite(event, name, image, link) {

        event.stopPropagation();

        const button = event.target;
        const userId = localStorage.getItem("userId");

        // Check Login
        if (!userId) {
            alert("Please Login First!");
            return;
        }

        // ============================
        // Remove Favorite
        // ============================
// Remove Favourite
        if(button.classList.contains("active")){

            const favoriteId = button.dataset.favoriteId;

            fetch("http://localhost:8080/api/favorites/" + favoriteId,{

                method:"DELETE"

            })

                .then(response=>{

                    if(!response.ok){

                        throw new Error("Delete Failed");

                    }

                    button.classList.remove("active");

                    delete button.dataset.favoriteId;

                    showMessage(name + " removed from Favorites 💔");

                })

                .catch(error=>console.log(error));

            return;
        }


        // ============================
        // Add Favorite
        // ============================
        fetch("http://localhost:8080/api/favorites", {

            method: "POST",

            headers: {
                "Content-Type": "application/json"
            },

            body: JSON.stringify({

                userId: userId,
                brandName: name,
                image: image,
                website: link

            })

        })

            .then(response => {

                if (!response.ok) throw new Error("Add Failed");

                return response.json();

            })

            .then(data => {

                button.classList.add("active");

                button.dataset.favoriteId = data.id;

                showMessage(name + " added to Favorites ❤️");

            })

            .catch(error => console.log(error));

    }
    // ======================================
    // Toast Message
    // ======================================

    function showMessage(message){

        const toast = document.getElementById("toast");

        toast.textContent = message;

        toast.classList.add("show");

        setTimeout(() => {

            toast.classList.remove("show");

        },2000);

    }



</script>



<script>

    // ======================================
    // Load Favorite Hearts
    // ======================================

    window.addEventListener("load", () => {

        const userId = localStorage.getItem("userId");

        if (!userId) return;

        fetch("http://localhost:8080/api/favorites/" + userId)

            .then(response => response.json())

            .then(favorites => {

                document.querySelectorAll(".heart-btn").forEach(btn => {

                    const brandBox = btn.closest(".brand-box");

                    const brandName = brandBox.querySelector("h3").innerText;

                    const fav = favorites.find(f => f.brandName === brandName);

                    if(fav){

                        btn.classList.add("active");

                        // Save database ID on button
                        btn.dataset.favoriteId = fav.id;

                    }

                });

            });

    });
</script>



<script>

    // ======================================
    // Save History to MySQL
    // ======================================

    function saveHistory(name, image, website){

        const userId = localStorage.getItem("userId");

        if(!userId){
            return;
        }

        const now = new Date();

        fetch("http://localhost:8080/api/history",{
            method:"POST",
            headers:{
                "Content-Type":"application/json"
            },
            body:JSON.stringify({
                userId:Number(userId),
                brandName:name,
                image:image,
                website:website,
                visitDate:now.toLocaleDateString(),
                visitTime:now.toLocaleTimeString()
            })
        })
            .then(async response => {

                const text = await response.text();

                console.log("Status:", response.status);
                console.log("Response:", text);

                if(!response.ok){
                    alert("History Save Failed");
                }else{
                    console.log("History Saved Successfully");
                }

            })
            .catch(error => {

                console.error(error);

            });

    }

    // ======================================
    // Open Brand
    // ======================================

    function openBrand(name, image, website){

        console.log("openBrand called");

        saveHistory(name, image, website);

        window.location.href = website;

    }

</script>

<script>

    // Apply Theme on Page Load

    window.onload = function(){

        const theme = localStorage.getItem("theme");

        if(theme === "dark"){

            document.body.classList.add("dark-mode");

        }

    };

</script>

</body>
</html>
